/* Header Section  */
.header__box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header p{
    text-align: center;
}

p{
    font-size: 200px;
}

button{
    padding: 10px;
    font-size: 100px;
    border-radius: 20px;
}